ArmiVit/bin/Debug/net8.0/appsettings.Development.json
ArmiVit/bin/Debug/net8.0/appsettings.json
ArmiVit/bin/Debug/net8.0/ArmiVit
ArmiVit/bin/Debug/net8.0/ArmiVit.deps.json
ArmiVit/bin/Debug/net8.0/ArmiVit.dll
ArmiVit/bin/Debug/net8.0/ArmiVit.pdb
ArmiVit/bin/Debug/net8.0/ArmiVit.runtimeconfig.json
ArmiVit/bin/Debug/net8.0/ArmiVit.staticwebassets.runtime.json
ArmiVit/obj/ArmiVit.csproj.nuget.dgspec.json
ArmiVit/obj/ArmiVit.csproj.nuget.g.props
ArmiVit/obj/project.assets.json
ArmiVit/obj/project.nuget.cache
ArmiVit/obj/Debug/net8.0/apphost
ArmiVit/obj/Debug/net8.0/ArmiVit.AssemblyInfo.cs
ArmiVit/obj/Debug/net8.0/ArmiVit.AssemblyInfoInputs.cache
ArmiVit/obj/Debug/net8.0/ArmiVit.assets.cache
ArmiVit/obj/Debug/net8.0/ArmiVit.csproj.CoreCompileInputs.cache
ArmiVit/obj/Debug/net8.0/ArmiVit.csproj.FileListAbsolute.txt
ArmiVit/obj/Debug/net8.0/ArmiVit.GeneratedMSBuildEditorConfig.editorconfig
ArmiVit/obj/Debug/net8.0/ArmiVit.dll
ArmiVit/obj/Debug/net8.0/ArmiVit.genruntimeconfig.cache
ArmiVit/obj/Debug/net8.0/ArmiVit.MvcApplicationPartsAssemblyInfo.cache
ArmiVit/obj/Debug/net8.0/ArmiVit.pdb
ArmiVit/obj/Debug/net8.0/ArmiVit.sourcelink.json
ArmiVit/obj/Debug/net8.0/staticwebassets.development.json
ArmiVit/obj/Debug/net8.0/staticwebassets.build.json
ArmiVit/obj/Debug/net8.0/staticwebassets.pack.json
ArmiVit/obj/Debug/net8.0/ref/ArmiVit.dll
ArmiVit/obj/Debug/net8.0/refint/ArmiVit.dll
ArmiVit/obj/Debug/net8.0/scopedcss/bundle/ArmiVit.styles.css
ArmiVit/obj/Debug/net8.0/scopedcss/projectbundle/ArmiVit.bundle.scp.css
ArmiVit/obj/Debug/net8.0/staticwebassets/msbuild.ArmiVit.Microsoft.AspNetCore.StaticWebAssets.props
ArmiVit/obj/Debug/net8.0/staticwebassets/msbuild.build.ArmiVit.props
ArmiVit/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.ArmiVit.props
ArmiVit/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.ArmiVit.props
ArmiVit/obj/Debug/net8.0/ArmiVit.assets.cache
ArmiVit/obj/Debug/net8.0/ArmiVit.AssemblyInfoInputs.cache
ArmiVit/obj/Debug/net8.0/ArmiVit.AssemblyInfo.cs
ArmiVit/obj/project.nuget.cache
ArmiVit/obj/project.assets.json
ArmiVit/obj/ArmiVit.csproj.nuget.g.props
ArmiVit/obj/ArmiVit.csproj.nuget.dgspec.json
ArmiVit/obj/ArmiVit.csproj.nuget.g.props
ArmiVit/obj/project.assets.json
ArmiVit/obj/ArmiVit.csproj.nuget.dgspec.json
ArmiVit/obj/project.nuget.cache
ArmiVit/obj/Debug/net8.0/ArmiVit.AssemblyInfo.cs
ArmiVit/obj/Debug/net8.0/ArmiVit.AssemblyInfoInputs.cache
ArmiVit/obj/Debug/net8.0/ArmiVit.assets.cache
