@{
    ViewData["Title"] = "Про мене";
}

<div class="about-container">
    <h1>Про мене</h1>

    <p>
        Мене звати <span class="accent">Анжеліка</span>. Мені
        <span class="accent">37 років</span>. Я мама двох доньок та
        <span class="accent">медична фахівчиня</span> з багаторічним досвідом.
    </p>

    <div class="info-box">
        <p>
            У <span class="accent">2003–2007 роках</span> я навчалася в
            <span class="accent">медичному коледжі</span> за спеціальністю
            <span class="accent">«Лікувальна справа»</span>.
        </p>
    </div>

    <p>
        Медицина для мене — це покликання, турбота та відповідальність
        за здоровʼя людей.
    </p>

</div>

<section class="experience-section">
    <h2>Досвід</h2>

    <p>
        Понад <span class="accent">8 років</span> я поглиблено та системно
        вдосконалюю свої знання в галузі
        <span class="accent">нутріціології</span>.
    </p>

    <p>
        За цей час я здобула <span class="accent">декілька професійних кваліфікацій</span>,
        пройшла численні <span class="accent">курси</span>,
        <span class="accent">науково-практичні конференції</span> та брала участь
        у <span class="accent">професійних майстер-класах</span>,
        зокрема навчалася у <span class="accent">провідних лікарів-дієтологів України</span>.
    </p>

    <div class="experience-box">
        <p>
            Тут ти отримаєш від мене:
        </p>
        <ul>
            <li>оцінку харчового статусу</li>
            <li>індивідуальні програми харчування</li>
            <li>інформацію щодо профілактики дефіцитів</li>
        </ul>
    </div>
</section>

