@model ArmiVit.Models.ViewsModel.CategoryViewModel

@{
    ViewData["Title"] = "Додати категорію";
}

<section class="product-section">
    <div class="glass-card form-glass">
        <h2 class="title">Додати категорію</h2>

        <form method="post" asp-action="AddCategory">
            <div class="field">
                <label asp-for="Name">Назва категорії</label>
                <input asp-for="Name" class="form-control" placeholder="Назва категорії" />
            </div>

            <button type="submit" class="glass-btn">
                Зберегти
            </button>
        </form>
    </div>
</section>

<section class="products-container">
    <div class="products-grid">

        @foreach (var item in Model.Categories)
        {
            <div class="product-glass">
                <div class="product-content text-center">
                    <h3>@item.Name</h3>
                </div>
            </div>
        }

    </div>
</section>